h1 {
  font-size: 56px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: Red;
}
ul {
  border: 2px solid black;
}
h2 {
  font-size: 40px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: Red;
}
.job title {
  font-size: 30px;
  color: blue;
}
