h1 {
  font-size: 48px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: Red;
}
ul {
  border: 2px solid black;
}
h4 {
  font-size: 40px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: Red;
}
